<!DOCTYPE html>
<html>
<head>
  <title>MMORPS</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.min.css">
  <script src="/js/vendor/modernizr.js"></script>
</head>

<body>
  <h1>MMORPS</h1>

  <table>
    <tr>
      <th>Player</th>
      <th>Score</th>
    </tr>
    <tr>
      <td>Player</td>
      <td>Player score</td>
    </tr>
    <tr>
      <td>Computer</td>
      <td>Computer score</td>
    </tr>
  </table>

  <h2><%= game_statement %></h2>

  <h2>Choose!</h2>

  <form action="/" method="post">
    <input type="submit" name="choice" value="rock"></input>
    <input type="submit" name="choice" value="paper"></input>
    <input type="submit" name="choice" value="scissors"></input>
  </form>

  <h2><% session %></h2>
  <h2>View count: <%= visit_count %></h2>
  <h2>Player choice: <%= player_choice %></h2>
  <h2>Computer choice (testing with sample from ["rock","paper","scissors"] array): <%= computer_choice %></h2>

  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
      $(document).foundation();
  </script>
</body>

</html>
