<!DOCTYPE html>
<html>
<head>
  <title>MMORPS</title>
</head>

<body>
  <h1>MMORPS</h1>

  <table>
    <tr>
      <th>Player</th>
      <th>Score</th>
    </tr>
    <tr>
      <td>Human</td>
      <td>Human score</td>
    </tr>
    <tr>
      <td>Computer</td>
      <td>Computer score</td>
    </tr>
  </table>


  <h2>Choose!</h2>

  <form  action="/choose" method="post">
    <button type="submit" name="choice" value="rock">Rock</button>
    <button type="submit" name="choice" value="paper">Paper</button>
    <button type="submit" name="choice" value="scissors">Scissors</button>
  </form>

  <h2><% session %></h2>
  <h2>View count: <%= visit_count %></h2>
  <h2>Player choice: <%= player_choice %></h2>
  <h2>Computer choice (testing with random number): <%= computer_choice %></h2>
  <p>
  </p>
</body>

</html>
